#feedback-wrapper {
    width: 500px;
    margin: 0 auto;
    border: 1px solid;
}

#feedback-form-wrapper{
    border: 2px solid;
}

h3 {
    text-align: center;
}

#feedback-clients-elements-wrapper,
#feedback-guestbook-elements-wrapper {
    border-collapse: collapse;
}

.feedback {
    border-top: 30px solid;
    border-bottom: 30px solid;
    border-color: transparent;
}

.feedback:nth-child(even) {
    background-color: #d3d3d3;
}

.feedback:nth-child(odd) {
    background-color: #7c7c7c;
}

.message {
    padding: 0 10px;
    background-color: #fbf5f5;
}

.guestName {
    display: inline-block;
    margin: 10px 0;
}

.creationDate {
    overflow: hidden;
    float: right;
    margin: 10px 0;
}

.actualImage {
    width: 500px;
    height: 375px;
}

.carousel-holder {
    list-style-type: none; 
    margin-left: -2.5em;
}

.hideable {
    display: none;
}

.submittion-confirmation-popupwrapper {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.submittion-confirmation-popup {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

